Source: namcap
Section: devel
Priority: optional
Maintainer: Jubei Mitsuyoshi <jubei.house.of.five.masters@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Homepage: https://www.archlinux.org/pacman/#_releases
#Vcs-Git: git://git.debian.org/collab-maint/archlinux-pacman.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/archlinux-pacman.git;a=summary

Package: archlinux-pacman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: archlinux package checking tool
 braught to debian as part of the effort
 to get a naitive arch chroot on a debian box
 
